include /opt/homebrew/share/nano/*.nanorc
# include "/usr/share/nano/*.nanorc"

set autoindent
set indicator
set linenumbers
set softwrap
set mouse
set tabstospaces
set tabsize 4
set tabstospaces

bind ^C copy main
bind ^V paste all
bind ^Z undo main
bind ^Y redo main